---
layout: default
---

{% assign pageurl = page.url | replace: 'index.html', '' %}

<h1>{{ page.title }}</h1>

<table>
<tr>
<th>Author</th>
<th>Title</th>
<th>Slides</th>
</tr>
{% for paper in page.papers %}
<tr>
  <td>{{ paper.author }}</td>
  <td>{% if paper.pdf %}<a href="{{ pageurl }}{{ paper.pdf }}">{% endif %}{{ paper.title }}{% if paper.pdf %}</a>{% endif %}</td>
  <td>{% if paper.slides %}<a href="{{ pageurl }}{{ paper.slides }}">Slides</a>{% elsif paper.slidesurl %}<a href="{{ paper.slidesurl }}">Slides</a>{% endif %}</td>
</tr>
{% endfor %}
</table>