---
layout: default
---

<div class="columns docs-layout">
  <div class="one-fourth column">
      
    <nav class="menu docs-menu">
    <a class="menu-item {% if page.url == '/seminars/' %}selected{% endif %}" href="{{ "/seminars/" | relative_url }}">
      All Seminars 
      <span class="counter">{% include total-paper-count.html %}</span>
    </a>
    {% assign grouped_seminars = site.seminars |  group_by:"year" %}
{% for group in grouped_seminars %}
{% assign sorted_seminars = group.items | sort:"semester" | reverse %}
{% for sem in sorted_seminars %}
{% assign semurl = sem.url | replace: 'index.html', '' | relative_url %}
  <a class="menu-item {% if page.url == sem.url %}selected{% endif %}" href="{{ semurl }}">
   {{ sem.title }}
   <span class="counter">{{ sem.papers | size }}</span>
  </a>
  {% endfor %}
  {% endfor %}
</nav>

  </div>
  <div class="three-fourths column markdown-body">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
    <div class="markdown-body">
      {% if page.showtable %}
{% include seminar-table.html seminar=page %}
{% endif %}
{{ content }}
    </div>
  </div>
</div>